.home_film {
  background-image: url("../images/films-choice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 3em;
  padding: 20px;
  max-width: 1000px;
}

.film_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}

.movie-card {
  /* Add styles for the outer container of the movie card */
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  max-width: 850px;
}

.movie-card h2 {
  text-align: center;
  color: white;
  font-size: 36px;
}
.movie-details {
  /* Flex container for image and info */
  display: flex;
  align-items: start;
  gap: 20px; /* Adjust the space between the image and info */
}

.movie-poster img {
  /* Styles for the movie poster image */
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-info {
  /* Styles for the movie information text */
  max-width: 600px;
}

.movie-info p {
  /* Paragraph styling inside movie info */
  margin-bottom: 10px; /* Adjust as needed */
}
