h2 {
  font-size: 1.5rem;
  color: #fefefe;
  text-align: left;
}
.home_film {
  background-image: url("../images/films-choice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.results {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 3em;
  padding: 20px;
  max-width: 1000px;
}

.result {
}

.film_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  margin-bottom: 4em;
}

#header-film {
  margin-top: 0;
}
.cta {
  background: #979993;
  color: #0b110d;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 15px;
  padding: 1em 2.5em;
  box-shadow: 0 5px 15px 0;
  transition: background 0.3s ease-in, transform 0.2s 0.1s ease-in-out,
    border-radius 0.3s ease-in;
}

.cta:hover,
.cta:active {
  background-color: #b5b8b0;
}
