/*
#edaa09
#0b110d
#0950ed
#979993
#a07217
----------------*/
h1 {
    font-family: "DIN Condensed", 'Tahoma', 'sans-serif';
    font-size: 2em;
}

h2 {
    font-family: "DIN Condensed", 'Tahoma', 'sans-serif';
    font-size: 1.5em;
}

p {
    font-family: "tahoma", 'sans-serif';
    max-width: 600px;
}

h1,
h2,
p {
  color: #edaa09;
}

nav,
footer {
  background-color: #979993;
  color: #0b110d;
  padding: 10px;
}

header {
  background-color: #edaa09;
  padding: 10px;
}

main {
  background-color: #0b110d; 
  padding-block: 200px;
  padding: 50px;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.search {
    text-align: right;
    border: #edaa09;
  }

.btn {
  background-color: #edaa09;
  color: #0b110d;
  padding: 4px;
  border: none;
  width: auto;
  border-radius: 3px;
  cursor: pointer; 
}

.btn3 {
    background-color: #979993;
    color: #0b110d;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    max-width: 300px;
  }

.film-maker {
    float: left;
  }

.hl {
  border-top: 3px solid #edaa09;
  height: 100px;
}

.home {
  margin: auto;
}

.pic {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-making {
  max-width: 150px;
  float: right;
  margin-right: 15px;
}

.content {
    font family: 'Tahoma', 'sans-serif'; 
    font-size: 1.5em;
}

.logo {
  max-width: 200px;
  border-radius: 20px 50px 30px 10px;
  padding: 10px;
  width: 100%;
}

.film-maker {
  display: inline-block;
  padding: 50px;
  margin: 10px;
}

/*fix this*/
@media only screen and (min-width: 800px) {
  body {
    flex-direction: column;
  }
}
