* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/*
#edaa09
#0b110d
#0950ed
#979993
#a07217
----------------*/
body {
  height: 100vh;
  max-width: 1400px;  
  line-height: 1.6;
  font-family: "DIN Condensed", "Tahoma", "sans-serif";
  font-size: 1.2rem;
}

h1 {
    line-height: 1.2;
}

h2 {
    font-family: "DIN Condensed", 'Tahoma', 'sans-serif';
    font-size: 1.5em;
}

p {
    font-family: "tahoma", 'sans-serif';
    max-width: 600px;
    line-height: 1;
    font-size: 18px;
}

h1,
h2,
h3,
p {
  color: #edaa09;
}

.navigation ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.leftnav {
  order: 1;
}

.logo {
  order: 2;
  max-width: 250px;
  border-radius: 20px 50px 30px 10px;
  width: 100%;
}

.rightnav {
  order: 3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #0b110d;
  text-decoration: none;
  display: block;
}

a:focus {
  outline: 4px solid black;
}
a:hover {
  color: #0950ed;
}

footer {
  background-color: #979993;
  color: #0b110d;
  padding: 10px;
  text-align: center;
}

header {
  background-color: #edaa09;
  padding: 10px;
}

main {
  background-color: #0b110d; 
  padding-block: 200px;
  padding: 50px;
}

.container {
  margin: 0 auto;
}

.search {
    text-align: right;
    border: #edaa09;
  }

.btn {
  background-color: #edaa09;
  color: #0b110d;
  padding: 4px;
  border: none;
  width: auto;
  border-radius: 3px;
  cursor: pointer; 
}

.btn3 {
    background-color: #979993;
    color: #0b110d;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    max-width: 300px;
  }

.film-maker {
    float: left;
  }

.hl {
  border-top: 3px solid #edaa09;
  height: 100px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-image: url("../images/home-theater-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.film_makers h1{
  text-align: center;
}

.film_list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 30px;
}

.intro_text {
  align-self: center;
  
}

.pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.photo-making {
  max-width: 150px;
  float: right;
  margin-right: 15px;
}

.content {
    font family: 'Tahoma', 'sans-serif'; 
    font-size: 1.6em;
    text-align: center;
}

.content h3, p {
  text-align: start;
  padding-bottom: 20px;
}

.film-maker {
  display: inline-block;
  padding: 50px;
  margin: 10px;
}

.contact_form {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
 
}

.card {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.image {
	max-width: 400px;
	padding-top: 67%;
	background-size: cover;
}

.results {
  display: grid;
  
}

.form-error {
	display: none;
	color: red;
	font-family: sans-serif;
	font-size: 0.6 rem;
	margin-top: 4px;
}

form {
	padding: 2em;
	background: #979993;
	border-radius: 1rem;
}

input {
	width: 100%;
	margin-top: 2px;
	padding: 10px;
	font-size: 1rem;
}

button {
	background: #0950ed;
	border: none;
	width: 100px;
	padding: 1rem;
	color: white;
	margin-top: 10px;
	border-radius: 0.5rem;
  
}

button:hover,
button:active {
  background-color: #a07217;
}


/*fix this*/
@media only screen and (min-width: 800px) {
  body {
    flex-direction: column;
  }
}
