/*
#edaa09
#0b110d
#0950ed
#979993
#a07217
----------------*/
@font-face {
    font-family: "DIN Condensed";
    src: url("/fonts/din-condensed-Regular-webfont.woff2") format("woff2"),
         url("/fonts/din-condensed-Regular-webfont.woff") format("woff");
  } 

  nav,
footer {
  background-color: #979993;
  color: #0b110d;
  padding: 5px;
}

header {
  background-color: #edaa09;
  padding: 10px;
}

main {
  background-color: #0b110d;
  padding: 200px;
}

h1,
p {
  color: #edaa09;
}

p {
    max-width: 600px;
}

footer {
  text-align: center;
}

ul {
    margin-left: 800px;
    padding: 0px;
  }
  
  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

.home {
    margin: auto;
  }

.pic {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-auto-flow: column;
  }
   
  .content {
    font family: 'Tahoma', 'sans-serif'; 
    font-size: 1.5em;
}

.content-text {
    font-family: 'din-condensed','sans-serif';
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.logo {
  max-width: 200px;
  border-radius: 20px 50px 30px 10px;
  padding: 10px;
}

media only screen and (min-width:600px) and (max-width:920px) {
	body {
		width: 80%;
	}
}
@media only screen and (max-width:599px) {
	body {
		width: 320px;
	}
        